# nginx-proxy
VIRTUAL_HOST=pwa.magento-devbox.me
DEV_SERVER_HOST=0.0.0.0
DEV_SERVER_PORT=10000

# PWA
NODE_OPTIONS=--openssl-legacy-provider
NODE_ENV=development
PWA_STUDIO_SKIP_DEV_CERT=true
MAGENTO_BACKEND_URL=https://magento-devbox.me/
MAGENTO_BACKEND_EDITION=MOS
CHOKIDAR_USEPOLLING=true
WATCHPACK_POLLING=true
STAGING_BUILD_ENABLED=false
IMAGE_OPTIMIZING_ORIGIN=backend

# Extra hosts
MAGENTO_HOST=magento-devbox.me
HOST_DOCKER_INTERNAL=host.docker.internal